.top-bar {
  height: 100px;
  width: 100%;
  background-color: orange;
} 

main .row {
  margin-bottom: 20px;
}

img {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.card-copy {
  padding-left: 20px;
}

.Card {
  border: solid lightgray 1px;
  padding-bottom: 20px;
}